.colors {
  margin-top: 20px;
  margin: 5px;
  height: 4em;
  width: 4em;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 50%;
  margin-bottom: 15px;
  float: left;
}
.colors:hover {
  border: 1px solid gold;
}
section .new {
  border: none;
}

.new {
  margin-top: -132px;
  margin-left: 75px;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  border: 1px solid grey;
}

.rgb {
  display: inline-block;
}
h1 {
  text-align: center;
  color: black;
}
h4 {
  width: 230px;
  color: black;
  text-align: center;
}
 .wrapper {
  padding-left: 10px;
}
 */

 section {
  margin-bottom: 20px;
}
button {
  font-size: .9em;
  margin-left: 20px;
  padding: 10px 25px;
  background: #d001ff;
  font-weight: 600;
  margin-top: 10px;
}
button:hover {
  color: #d001ff;
  background: white;
}
.button {
  display: inline-block;
}
 .delete {
   position: absolute;
   z-index: 100;
   margin-top: -25px;
   width: 5em;
   height: 1em;
   background: #f0e68c;
   color: #D001FF;
   font-weight: 700;
   border-radius: 10px;
   padding: 10px;
   margin-left: 5px;
   line-height: .1em;
 }
 .delete:hover {
   color: black;
   background: white;
 }

.radio {
  z-index: -100;
  margin: -3px;
  width: 7em;
  height: 7em;
  opacity: 0;
 }
.show {
   display: block;;
}

 .text {
    margin-top: 15px;
 }
 .clear {

 }
 .first {
  margin-bottom: 5px;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  border: 1px solid grey;
 }
 .second {
   border-radius: 50%;
   width: 4em;
   height: 4em;
   border: 1px solid grey;
 }

.mixing {
  width: 100%;
}

.left {
  margin: 0 auto;
  float: left; }

.left:after {
  content: "";
  display: table;
  clear: both; }

.right {
  float: right; }

.right:after {
  content: "";
  display: table;
  clear: both; }

.one-half {
  /*   border: 2px solid purple;
text-align: center;
 */
  width: 45%;
  padding: 5px;
  /*   display: inline-block;
 */
  float: left;
  margin: 5px; }

.one-half:after {
  content: "";
  display: table;
  clear: both; }

/* Phones ----------- */
@media only screen and (max-width: 600px) {
  .new {
    width: 5.5em;
    height: 5.5em;
    margin-top: -90px;
    margin-left: 50px;
  }

  .first, .second {
    width: 3em;
    height: 3em;
  }

  .colors {
    width: 3em;
    height: 3em;
  }

  .radio {
    width: 6em;
    height: 6em;
  }

.rgb {
    margin-left: 20px;
}
  .delete {
    margin-left: 0px;
  }
  .responsive-left {
    width: 61.666%;
/*     background: magenta;
 */  }
  .responsive-right {
    width: 29.333%;
/*     background: magenta;
 */  }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .new {
    width: 6em;
    height: 6em;
    margin-top: -105px;
    margin-left: 60px;
  }

  .first, .second {
    width: 3.5em;
    height: 3.5em;
  }

  .rgb {
    margin-left: 75px;
}

  .colors {
    width: 3.5em;
    height: 3.5em;
  }
  .radio {
    width: 6.5em;
    height: 6.5em;
  }
  .responsive-left {
    width: 61.666%;
/*     background: orange;
 */  }
  .responsive-right {
    width: 29.333%;
/*     background: orange;
 */  }
}


/* Tablets ----------- */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .new {
    width: 7em;
    height: 7em;
    margin-top: -120px;
    margin-left: 65px;
  }

  .delete {
    margin-left: 5px;
  }

  .responsive-left {
    width: 58%;
/*     background: yellow;
 */  }
  .responsive-right {
    width: 25%;
/*     background: yellow;
 */  }
}

@media only screen and (min-width: 900px) {
  .responsive-left {
    width: 69.75%;
/*     background: green;
 */  }
  .responsive-right {
    width: 21.25%;
/*     background: green;
 */  }
}


/* -------- COLUMN LAYOUTS -------*/
/* -- Column Sizes -- */
.one-fourth {
  width: 21.25%; }

.one-third {
  width: 29.333%; }

/* .one-half     { width:45.5%; }
*/
.two-third {
  width: 61.666%; }

.three-fourth {
  width: 69.75%; }

.one-column {
  width: 94%; }

.full-column {
  width: 100%; }

/* -- Column Margin & Float-- */
.one-half, .one-third, .two-third,
.three-fourth, .one-fourth, .one-column,
.full-column, .responsive-left, .responsive-right {
  margin-left: 3%;
  margin-top: 1%;
  float: left; }

/* -- Column Row (aka Clearfix) -- */
.row:after {
  content: "";
  display: table;
  clear: both; }
