.colors {
  margin-top: 20px;
  margin: 5px;
  height: 4em;
  width: 4em;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 15px;
}
section .new {
  border: none;
}
.new {
  z-index: -1;
  position: absolute;
  top: 25px;
  right: 100px;
/*   border: 1px solid black;
   margin-right: 50px;
*/
   display: block;
  height: 8em;
  width: 8em;
  border-radius: 50%;
}
h1 {
  text-align: center;
  color: black;
}
h4 {
   width: 150px;
   margin-right: 3px;
   margin-top: 0px;
   float: right;

  color: black;
  padding-top: 135px;
}
 .wrapper {
  padding-left: 10px;
}
 */section {
  margin-bottom: 20px;
}
button {
  font-size: .9em;
  margin-left: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  background: tan;
}
 .delete {
   position: absolute;
   z-index: 100;
   margin-top: -25px;
   width: 5em;
   height: 1em;
/*    border-radius: 50%;
 */
   padding: 10px;
   margin-left: 5px;
   line-height: .1em;
 }

.radio {
  z-index: -100;
  margin: -3px;
  width: 7em;
  height: 7em;
  opacity: 0;
 }
.show {
   display: block;;
}

 .text {
   width: 200px;
   margin-top: -420px;
   margin-right: -14px;
 }
 .clear {
   position: absolute;
   margin-top: -40px;
   margin-left: 545px;
 }
 .first {
  z-index: -1;
  position: absolute;
  top: 25px;
  right: 340px;
  border-radius: 50%;
  width: 4em;
  height: 4em;
 }
 .second {
   z-index: -1;
   position: absolute;
   top: 25px;
   right: 260px;
   border-radius: 50%;
   width: 4em;
   height: 4em;
 }
